<p>
    <strong>Name:</strong>
    <%= @restaurant.name %> 
    </p>
    
    <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>

    <strong>Menu:</strong>
    <%=@pizza = Pizza.find(params[:id])

    </p>
